/* =========== */
/* == SETUP == */
/* =========== */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}


/* ============= */
/* == GENERAL == */
/* ============= */
ul {
    display: inline-block;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: all 0.5s;
}

/* ================ */
/* == TYPOGRAPHY == */
/* ================ */
html {
    font-size: 62.5%; /* 1 rem = 10px */
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem; /* sets default size to 20px so if I forget to size anything, it will still be legible */
    font-weight: 400;
    margin: 0;
    position: relative;
}

h2,
h3,
.read-more,
input[type=submit] {
    font-weight: 700;
}

p {
    font-family: 'Catamaran', sans-serif;
}

p, a, button {
    color: #1f2022;
}

p, 
nav li, 
button,
input[type=submit] {
    line-height: 2.9rem;
}

.uppercase {
    text-transform: uppercase;
}

.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}


/* ============ */
/* == HEADER == */
/* ============ */
header {
    background: rgba(255,255,255,0.8);
    height: 10vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 99;
}

.ham-label,
.hamburger,
.ham-exit {
	display: none;
}

nav {
    text-align: center;
}

nav ul {
    margin: 0;
}

nav li {
    float: left;
    text-align: right;
    padding: 20px;
}

nav li:hover a,
nav li:focus a,
h1, 
h2,
.social-icons a {
    color: #e75605;
}

/* ============ */
/* ==  HERO  == */
/* ============ */
.hero {
    background-image: url(assets/header-burger.png);
    background-size: contain;
    height: 85vh;
    background-repeat: no-repeat;
}

h1 {
    float: left;
    width: 40%;
    text-transform: capitalize;
    font-size: 14.64rem;
    line-height: 12rem;
    margin-left: 50%;
    margin-top: 200px;
    font-weight: 400; /* for some reason h1 didn't get styled by body */
}

.social-icons {
    float: right;
    width: 3%;
    margin-top: 200px;
    margin-right: 1%;
}

.social-icons li {
    font-size: 2rem;
    margin-top: 15px;
    text-align: center;
    transition: all 0.5s;
}

.social-icons li:hover a,
.social-icons li:focus a {
    color: #1f2022;
}

/* ======================= */
/* == MENU & EXPERIENCE == */
/* ======================= */

.menu-blurb,
.exp-blurb {
    padding-top: 10%;
    float: left;
    width: 45%;
}

.right-photo {
    float: right;
    width: 50%;
}

.left-photo {
    clear: both;
    float: left;
    width: 50%;
}

img {
    display: block;
    width: 100%;
}

h2 {
    font-size: 4.2rem;
    margin: 0;
}

.read-more,
input[type=submit] {
    background: white;
    border: 3px solid #e75605;
    font-size: 2rem;
    padding: 10px 20px;
    margin-top: 2%;
    transition: all 0.5s;
}

.read-more:hover,
.read-more:focus,
input[type=submit]:hover,
input[type=submit]:focus {
    background: #e75605;
    color: white;
}

.exp-blurb {
    padding-left: 5%;
}

/* ============== */
/* == DESSERTS == */
/* ============== */

.desserts {
    clear: both;
    background-color: #f4f4f4;
    height: auto;
    padding-top: 100px;
}

.desserts img {
    clear: both;
    float: left;
}

.desserts img {
    width: 25%;
}

.desserts-blurb {
    float: left;
    margin-left: 5%;
    width: 60%;
}

.desserts .read-more {
    margin-bottom: 13%;
}

/* ========== */
/* == INFO == */
/* ========== */
.info {
    clear: both;
    background-color: #e75605;
    height: auto;
}

.info a,
h3 {
    color: white;
}

h3 {
    font-size: 3rem;
}

.info i {
    font-size: 6rem;
}

.info ul {
    width: 100%;
    text-align: center;
    padding: 9% 0;
}

.info li {
    float: left;
    margin: 0 5%;
    width: calc((100% / 3) - 10%);
}

.info li:hover a,
.info li:focus a {
    color: #1f2022;
}

/* ========== */
/* == GRAM == */
/* ========== */
.gram {
    clear: both;
    text-align: center;
}

.gram h2 {
    padding: 60px 0;
}

.gram ul {
    padding-bottom: 60px;
}

.gram li {
    float: left;
    width: calc(96% / 3);
    overflow: hidden;
}

.gram li:first-child,
.gram li:nth-child(2) {
    margin-right: 1%;
}

.gram li:last-child,
.gram li:nth-child(2) {
    margin-left: 1%;
}

.gram li:hover img,
.gram li:focus img {
    transform: scale(1.08);
}

.gram img {
    max-width: 100%;
    transition: all 0.3s;
}

/* ============ */
/* == FOOTER == */
/* ============ */

footer {
    background-color: #f4f4f4;
    height: auto;
}

.contact {
    clear: both;
}

.contact,
.newsletter {
    float: left;
    width: 50%;
    padding: 80px 0;
}

input[type=email] {
    width: 60%;
    height: 55px;
    border: 3px solid white;
    padding: 0 0 0 15px;
    font-size: 2rem;
}

input[type=email],
input[type=submit] {
    float: left;
    margin: 0;
}

input[type=email]:focus {
    border-bottom: 3px solid #e75605;
    border-right: 3px solid #e75605;
}

.copyright {
    clear: both;
    background-color: #1f2022;
    text-align: center;
}

.copyright p {
    color: #f4f4f4;
    margin: 0;
    padding: 15px 0;
    font-size: 1.6rem;
}

/* =================== */
/* == MEDIA QUERIES == */
/* =================== */

@media (max-width: 1315px) {
    .hero {
        background-size: contain;
        background-position-x: left -20%;
    }

    h1 {
        font-size: 13rem;
        padding-left: 1%;
    }
} /* end of 1315px */

@media (max-width: 1240px) {
    .menu-blurb,
    .exp-blurb {
        padding-top: 5%;
    }

    h2 {
        font-size: 3.2rem;
    }
} /* end of 1240px */

@media (max-width: 1200px) {
    .hero {
        background-position-x: left -40%;
    }

    h1 {
        font-size: 11rem;
        padding-left: 0;
    }
} /* end of 1200px */

@media (max-width: 1120px) {
    .hero {
        background-position-x: left -60%;
    }
    
    input[type=email],
    input[type=submit] {
        float: none;
        margin: 2% 0;
        width: 100%;
    }

    input[type=email] {
        width: 100%;
    }
    
    input[type=email]::placeholder {
        text-align: center;
    }
} /* end of 1120px */

@media (max-width: 997px) {
    header {
        background: none;
    }

    .hero {
        height: 90vh;
        min-height: 650px;
        background-size: 600px;
        background-position-x: left -30%;
        background-position-y: bottom;
    }

    .social-icons {
        display: none;
    }

    .top-menu{
        opacity: 0;
        background: #e75605;
        padding-top: 100px;
        transition: opacity 0.5s linear;
    }

    .top-menu {
        position: absolute;
        right: 0;
        text-align: right;
        width: 350px;
        height: 100vh;
    }

    .ham-label {
        display: block;
        position: absolute;
        top: 25px;
        right: 35px;
        text-align: right;
        font-size: 3.6rem;
        margin: 0;
        z-index: 10;
        cursor: pointer;
    }

    .ham-exit {
        display: block;
        opacity: 0;
        position: absolute;
        font-size: 2.6rem;
        top: 35px;
        right: 41px;
        z-index: 9;
        transition: opacity 0.5s linear;
    }

    .hamburger:checked ~ .ham-exit {
        opacity: 1;
        z-index: 15;
        cursor: pointer;
    }

    .hamburger:checked ~ .top-menu {
        opacity: 1;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
    }
    
    .top-menu li {
        text-align: center;
        width: 100%;
    }

    nav a {
        color: white;
    }

    nav li:hover a,
    nav li:focus a {
        color: #1f2022;
    }

    h1 {
        font-size: 9rem;
        width: 50%;
        padding-left: 3%;
    }
    
    .menu h2,
    .experience h2,
    .desserts h2 {
        margin-top: 5%;
    }
    
    .menu-blurb,
    .exp-blurb,
    .right-photo,
    .left-photo {
        float: none;
        text-align: center;
        margin: 0 auto;
        padding-left: 0;
        width: 100%;
    }

    .read-more {
        margin-bottom: 10%;
    }

    .desserts img,
    .desserts-blurb {
        float: none;
        margin: 0 auto;
        width: 100%;
    }

    .desserts img {
        width: 80%;
    }

    .desserts {
        text-align: center;
        margin: 0 auto;
        height: auto;
    }
} /* end of 997px */

@media (max-width: 920px) {
    .hero {
        background-position-x: left -50%;
    }
    
    .contact,
    .newsletter {
        float: none;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .contact {
        padding-bottom: 50px;;
    }

    .newsletter {
        padding-top: 0;
    }

    input[type=email] {
        width: 75%;
        margin: 1% 0;
    }

    input[type=submit] {
        width: 75%;
        margin: 1% 0;
    }
} /* end of 920 */

@media (max-width: 800px) {
    .hero {
        min-height: 700px;
        background-size: 600px;
        background-position-x: left -100px;
    }

    h1 {
        width: 60%;
        line-height: 9rem;
        margin-left: 35%;
        margin-top: 30px;
    }
    
    .right-photo img,
    .left-photo img {
        height: 450px;
        object-fit: cover;
    }

    .desserts img {
        width: 100%;
    }

    .info {
        height: auto;
    }

    .info li {
        float: none;
        width: 50%;
        margin: 15% auto;
    }
    
    .info a {
        text-align: center;
    }

    .gram .hide {
        display: none;
    }

    .gram h2 {
        margin: 0;
    }

    .gram ul {
        margin-top: 0;
    }

    .gram li {
        width: 48%;
    }

    .gram li:first-child {
        margin-right: 1%;
    }

    .gram li:last-child {
        margin-left: 1%;
    }
} /* end of 800px */

@media (max-width: 670px) {
    .hero {
        background-size: 500px;
        background-position-x: left -100px;
    }

    h1 {
        font-size: 8rem;
        line-height: 8rem;
        padding-left: 0;
        margin-top: 70px;
        margin-left: 30%;
    }
} /* end of 670px */

@media (max-width: 570px) {
    .top-menu {
        width: 100vw;
    }

    nav ul {
        width: 100%;
    }

    h1 {
        margin-left: 15%;
    }
    
    h2 {
        font-size: 3.2rem;
    }

    .right-photo img,
    .left-photo img {
        height: 350px;
        object-fit: cover;
    }

    .info li {
        width: 80%;
        margin: 20% auto;
    }
    
    h3 {
        font-size: 2.4rem;
    }
    
    .info i {
        font-size: 4rem;
    }
    
    .gram li,
    .gram li:first-child,
    .gram li:nth-child(2) {
        float: none;
        margin: 4% 0;
        width: 100%;
    }

    footer nav {
        height: auto;
    }
    
    footer nav li {
        float: none;
        text-align: center;
    }

    .contact {
        padding-top: 40px;
    }
    
    input[type=email] {
        width: 100%;
    }
    
    input[type=submit] {
        width: 100%;
    }
} /* end of 570px */

@media (max-width: 400px) {
    h1 {
        margin-left: 5%;
    }
    
    h2 {
        font-size: 2.8rem;
    }

    .right-photo img,
    .left-photo img {
        height: 250px;
        object-fit: cover;
    }
} /* end of 400px */

@media (max-width: 380px) {
    h1 {
        width: 100%;
        font-size: 6.5rem;
        line-height: 6.8rem;
    }
    
    p {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
} /* end of 380px */

